{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Usman Khan</h1>
      <p>Hello!! I am Usman Khan this website is developed by myself when I was Learning Django 1st time because I want to learn django by implementing in a small project like this.</p>
      <p><a class="btn btn-primary btn-lg" href="https://www.linkedin.com/in/devusman" role="button">Learn more »</a></p>
    </div>
  </div>



</main>





{% endblock %}
    